.App {
  text-align: center;
}


.homeHeader {
  background-image: url(Images/header/header-photo.png);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homeText {
  text-align: center;
  position: relative;
  bottom: 250px;
  color: #2d4e62;
  opacity: 80%;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
