html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}

.homePage {
  margin-bottom: 40px;
}
.homeHeader {
  background-image: url(Images/header/header-photo.png);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroRow {
  display: flex;
  text-align: center;
  position: relative;
  
}
.heroTitle {
  font-family: 'Fredoka One', cursive;
  word-spacing: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 1px #debe89, 6px 6px #5fc0c6, 9px 9px #007284;
  padding: 0px;
  margin-top: auto;
}
.heroSubtitle {
  text-shadow: 2px 2px 1px #5fc0c6, 3px 3px #007284;
  color: #fff;
  font-family: 'Rokkitt', serif;
  padding: 0px;
  margin-bottom: 65%;
  font-size: 50px;
  font-weight: bold;
}

.arrowText {
  text-align: center;
  position: relative;
  color: #eee;
  margin-top: auto;
}

.arrow {
  -webkit-animation: bounce 2s infinite ;
  animation: bounce 2s infinite;
  color: #eee;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/* about me */

.aboutMe {
  font-family: 'Rokkitt', serif;
  font-size: x-large;
  font-weight:normal;
  color: #fff;
}

.hello{
  color:#fff;
  text-shadow: 3px 3px #debe89, 5px 5px #5fc0c6, 7px 7px #007284;
}

.aboutContainer {
  background:#debe89;
  margin-bottom: 10px;
  padding: 10px;
}

/* contact page */
.contactPage{
  
  background:#debe89;
  margin-bottom: 10px;
  padding: 10px;
  color:#fff;
  font-family: 'Rokkitt', serif;
  font-size: x-large;
}

.form {
  padding-bottom: 20px;
}

button.button {
  background-color: #fff;
  border: 0;
  color: #debe89;
  margin-top: 10px;
}
button.button:hover {
  background-color: #5fc0c6;
  color: #fff
}

button.button:visited {
  background-color: #5fc0c6;
  color: #fff
}


form {
  width:auto;
}

img.navIcons {
  margin: 10px;
  width: 80px;
}

/* footer */
img.footer-navIcons {
  margin: 10px;
  width: 40px;
}


/* mobile sizing */
@media screen and (max-width: 400px) {

  .heroSubtitle {
    font-size: 40px;
  }

  .arrow {
   margin-bottom: 35%;
}

}


